.store{
    width: 100%;
}
.text{
    position: absolute;
    top: 20%;
    left: 20%;
    color: #ffffff;
    text-align: center;
}
h1{
    font-family: 64px;
    font-weight: bold;
}
.text p{
    font-size: 28px;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    margin-left: 5%;
}
.card{
    width: 42vw;
    margin-right: 3%;
}
.heading{
    color: #0077b5;
}
.card-image{
    margin-left: 10%;
}
.cards + .get-a-quote{
   margin-left: 48%;
}